In [5]:
import numpy as np
import pandas as pd

In [6]:
train_df = pd.read_csv('train.csv')
print(train_df.shape)
train_df.head()

(49910, 9)

,id,content,picture_lists,category,ncw_label,fake_label,real_label,comment_2c,comment_all
0,4028762460708675,回复新浪网友对博文【国家文物局限制鉴宝节目现场估价转】的评论：;;查看原文：,NaN,文体娱乐,0,0,1,NaN,NaN
1,4126670854660291,//分享网易新闻:《发生在昆明的火锅店老板“辱滇门”，云南人该愤怒还是羞愧》|发生在昆明.....,63ad082a189566eed7c4bb3e4bc55012.jpg,社会生活,0,0,1,NaN,NaN
2,3702441948299962,西宁城管围殴民警扬言要把警察打死|西宁城管围...,4986dc2a5f09a87c7af5dfc57d7775cd.jpg,社会生活,0,0,1,NaN,NaN
3,4239549419245466,【川航航班因驾驶舱风挡破裂安全备降成都】今天上午6:26从重庆江北国际机场出发前往拉萨的四川...,dcfccfc69e90a0007afd6aafa1385e56.jpg,社会生活,0,0,1,NaN,NaN
4,3966337217183260,支持郑强！！！//【贵州大学校长回应空姐言论:常给她们写感谢信】,NaN,社会生活,0,0,1,NaN,NaN

In [8]:
test_df = pd.read_csv('test_dataset_update.csv')
test_df.shape

(2614, 6)

In [9]:
print('train shape:{}'.format(train_df.shape))
print('train null:{}'.format(train_df['content'].isnull().sum()))
print('test null:{}'.format(test_df['content'].isnull().sum()))

train shape:(49910, 9)
train null:0
test null:0

In [10]:
print(train_df['ncw_label'].sum() * 1.0 / train_df.shape[0])
print(train_df['fake_label'].sum() * 1.0 / train_df.shape[0])
print(train_df['real_label'].sum() * 1.0 / train_df.shape[0])

0.3226607894209577
0.3374273692646764
0.33991184131436586

In [11]:
# text_train_df = train_df.dropna(axis=0)
# print(text_train_df.shape)
texts = train_df['content'].tolist()
max_len = 0
df_len_list = []
for i in range(len(texts)):
    max_len = max(max_len, len(texts[i]))
    df_len_list.append(len(texts[i]))
print(max_len)

sorted_len = sorted(df_len_list)
print(sorted_len[int(len(sorted_len)*0.95)])
print(sorted_len[int(len(sorted_len)*0.99)])

1994
202
473

In [12]:
def contact(str1, str2):
    if pd.isnull(str2):
        return str1
    return str1 + str2

In [13]:
train_df['content_comment_2c'] = train_df.apply(lambda x: contact(x['content'], x['comment_2c']), axis=1)
texts = train_df['content_comment_2c'].tolist()
max_len = 0
df_len_list = []
for i in range(len(texts)):
    max_len = max(max_len, len(texts[i]))
    df_len_list.append(len(texts[i]))
print(max_len)

sorted_len = sorted(df_len_list)
print(sorted_len[int(len(sorted_len)*0.95)])
print(sorted_len[int(len(sorted_len)*0.99)])

1994
270
498

In [14]:
train_df['content_comment_all'] = train_df.apply(lambda x: contact(x['content'], x['comment_all']), axis=1)
texts = train_df['content_comment_all'].tolist()
max_len = 0
df_len_list = []
for i in range(len(texts)):
    max_len = max(max_len, len(texts[i]))
    df_len_list.append(len(texts[i]))
print(max_len)

sorted_len = sorted(df_len_list)
print(sorted_len[int(len(sorted_len)*0.75)])
print(sorted_len[int(len(sorted_len)*0.95)])

5192
261
958